<div>
  <link href="./blog-card3.css" rel="stylesheet" />
  <div class="blog-card3-container">
    <img
      alt="image"
      src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg"
      class="blog-card3-image"
    />
    <h5 class="blog-card3-text"><span>Rover raised $65 million</span></h5>
    <span class="blog-card3-text1">
      <span>
        Finding temporary housing for your dog should be as easy as renting an
        Airbnb. That’s the idea behind Rover
      </span>
    </span>
  </div>
</div>
